<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hsk_application"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".number"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".family"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fruits"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".animal"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".color"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".hsk4"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".hsk3"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".hsk2"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".hsk1"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".pinyin"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".welcompage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>